@using WebHello.Data
@page "/counter"

<div class="students">
    <p><b>Имя:</b></p>
    <p><input type="text" @bind-value="name" /></p>
    <p><b>Фамилия:</b></p>
    <p><input type="text" @bind-value="surname" /></p>
    <p><b>Группа:</b></p>
    <p><input type="text" @bind-value="group" /></p>
    <p><b>Факультет:</b></p>
    <p><input type="text" @bind-value="faculty" /></p>
</div>

<button class="btn btn-primary" @onclick="Regis">Registration</button>

@code {
    public static List<Student> studlist;
    private string name;
    private string surname;
    private int group;
    private string faculty;


    private void Regis()
    {
        Student.AddToList(name, surname, group, faculty);
    }
}
