@page "/hello"
@using WebHello.Data
<h1>Hello World!</h1>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Group</th>
            <th>Faculty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in studlist)
        {
            <tr>
                <td>@forecast.name</td>
                <td>@forecast.surname</td>
                <td>@forecast.group</td>
                <td>@forecast.faculty</td>
            </tr>
        }
    </tbody>
</table>
@code {

    public static List<Student> studlist = Student.GetStudents();
}
