@page "/hello"
<h1>Hello World!</h1>
<button class="btn btn-primary" @onclick="graph">Click me</button>
@code {
    private void graph()
    {
        <NavLink class="nav-link" href="Student">
            <span class="oi oi-home" aria-hidden="true"></span> Student
        </NavLink>
    }
}
